@font-face {
  font-family: Silka;
  src: local('silka-regular'),
  url('../fonts/Silka/silka-regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka Regular Italic';
  src: local('silka-regular-italic'),
  url('../fonts/Silka/silka-regular-italic.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka Light';
  src: local('silka-light'),
  url('../fonts/Silka/silka-light.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka Medium';
  src: local('silka-medium'),
  url('../fonts/Silka/silka-medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka SemiBold';
  src: local('silka-semi-bold'),
  url('../fonts/Silka/silka-semi-bold.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka Bold';
  src: local('silka-bold'),
  url('../fonts/Silka/silka-bold.otf');
  font-weight: normal;
}
