@import './fonts.scss';
@import './colors.scss';

.nuxt-link-exact-active {
  color: $primary !important;
}

body {
  min-width: 300px;
}

h2 {
  font-size: 30px;
  &.page-title {
    font-family: 'Silka Bold' !important;
  }
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}
.col-lg-3 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

// NAVBAR
.navbar {
  height: 100px;
  padding: 30px 0px 10px 0px;
  background-color: $white-transparent;
  .show {
    height: 100vh;
    width: 100vw;
    padding-left: 0px !important;
    padding-bottom: 2rem;
    background-color: $white;
    & .nav-item {
      margin: 0px !important;
    }
  }
  .collapsing {
    background-color: $white;
  }
  .navbar-toggler {
    border: none !important;
    color: red !important;
    &:focus {
      outline: none !important;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2834, 34, 34, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }
  .nav-item {
    font-family: 'Silka Medium' !important;
    font-size: 13px;
    letter-spacing: 2px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    &.x-files {
      margin-right: 0px;
      & .nav-link {
        border: 2px solid $black;
        min-height: 45px;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        &:hover {
          transition: all 0.5s ease;
          border: 2px solid $primary;
        }
        &.nuxt-link-exact-active {
          border: 2px solid $primary;
        }
      }
    }
    & .nav-link {
      color: $black;
      transition: all 0.5s ease;
      &:hover {
        transition: all 0.5s ease;
        color: $primary !important;
      }
    }
  }
}

.master-padding {
  padding: 0px 100px !important;
}
.master-padding-right {
  padding-right: 100px !important;
}
.master-padding-left {
  padding-left: 100px !important;
}
.about-us-first {
  background-color: #F4ECEB;
  padding-top: 200px;
  padding-bottom: 200px;
  .top-section {
    min-height: 200px;
    h3 {
      font-family: 'Silka Bold' !important;
      font-size: 33px;
      color: $primary;
    }
    & .image {
      position: relative;
      border-radius: 50%;
      margin-top: 7px;
      width: 140px;
      height: 140px;
      background-image: url('/images/staff/melina-delpontigo.jpg');
      background-size: cover;
      background-position-x: center;
      object-fit: cover;
      & .logo {        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        & img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  & .text-block {
    position: relative;
    max-width: 478px;
    &::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 0px;
      background-color: $primary;
      width: 1px;
      height: 42px;
      @media (max-width: 575px) {
        top: 5px;
      }
    }
    & p {
      font-family: 'Silka Light' !important;
      font-size: 1.1rem;
      line-height: 30px;
      font-weight: lighter;
      &.speech {
        font-family: 'Silka Regular Italic' !important;
        font-size: 0.9rem;
        margin-bottom: 2rem;
      }
      &.signature {
        font-family: 'Silka SemiBold' !important;
        font-size: 0.8rem;
        line-height: 14px !important;
        span {
          font-family: 'Silka Light' !important;
          line-height: 14px !important;
        }
      }
    }
  }
}

:focus {
  outline-style: none;
}

.testimony {
  background-color: #F4ECEB;
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow-x: hidden;
  .carousel {
    height: 500px;
    align-items: center;
    display: flex;
  }
  & .carousel-caption {
    max-width: 500px;
    color: $black;
    position: relative;
    text-align: left;
    left: 17%;
  }
  & .carousel-inner {
    overflow: visible;
  }
  & .carousel-indicators li {  
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $black !important;
  }
  & .carousel-control-prev-icon {
   display: none;
  }
  & .carousel-control-next-icon {
    display: none;
  }
  & .text-block {
    position: relative;
    max-width: 478px;
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      background-color: $primary;
      width: 1px;
      height: 42px;
    }
    & p {
      font-family: 'Silka';
      font-size: 20px;
      line-height: 30px;
      font-weight: lighter;
      &.signature {
        font-family: 'Silka SemiBold' !important;
        font-size: 0.8rem;
        line-height: 10px !important;
        span {
          font-family: 'Silka Light' !important;
          line-height: 10px !important;
        }
      }
    }
  }
}

// X-FILES

.x-files-mt {
  margin-top: 100px;
}

// FOOTER
.footer {   
  font-family: 'Silka Medium';
  margin-top: 100px;
  padding: 40px 0px !important;
  background-color: #F4ECEB;
  font-size: 14px; 
  & a {
    color: $gray-black;
    margin-bottom: 5px;
    font-size: 13px;
    & i {
      font-size: 13px;
    }
  }
  & .translated-in-argentina {
    color: $secundary; 
    margin-top: 48px;   
    line-height: 8px;
    font-size: 9px;
  }
  & .contact-us {
    margin-top: 40px;
  }
  & .data-web {
    margin-top: 40px;
    padding-left: 0px;
  }
  & .be-gobeetween {
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0px;
      background-color: $gray-black;
      width: 1px;
      height: 30px;
    }
    & p {
      font-family: 'Silka Light' !important;
    }
    & img{
      margin-top: -19px;
    }
  }
  & button {
    color: #222222;
    border-color: #222222;
  }
  & .right-reserved {  
    font-family: 'Silka';  
    font-size: 10px;
    color: #878787;
  }
}

// MEDIA QUERIES
@media (min-width: 1200px) {
  .container-fluid {
    padding: 0px 100px;
  }
  .navbar-brand {
    & img {
      &.navbar-brand-sm {
        display: none;
      }
    }
  }
  .footer{
    padding-right: 100px !important;
    padding-left: 70px !important;
    & img {
      &.footer-sm {
        display: none;
      }
    }
  }  
  .about-us-first {
    margin-left: 100px;
    padding-left: 134px;
    & .image {
      margin-left: 54px;
    }
    & .text-block {
      padding-left: 54px;
    }
  }
  .testimony {
    margin-right: 100px;
    padding-left: 134px;
    min-height: 550px;
    & .text-block {
      padding-left: 54px;
      margin-bottom: 30px;
      min-width: 600px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .master-padding {
    padding: 0px 90px !important;
  }
  .master-padding-right {
    padding-right: 90px !important;
  }
  .master-padding-left {
    padding-left: 90px !important;
  }
  .container-fluid {
    padding: 0px 90px;
  }
  .navbar-brand {
    & img {
      &.navbar-brand-sm {
        display: none;
      }
    }
  }
  .footer{
    padding-right: 90px !important;
    padding-left: 90px !important;
    & img {
      &.footer-sm {
        display: none;
      }
    }
  }
  .about-us-first {
    margin-left: 90px;
    padding-left: 120px;
    & .image {
      margin-left: 48px;
    }
    & .text-block {
      padding-left: 48px;
    }
  }
  .testimony {
    margin-right: 40px;
    padding-left: 0px;
    & .text-block {
      padding-left: 0px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .master-padding {
    padding: 0px 60px !important;
  }
  .master-padding-right {
    padding-right: 60px !important;
  }
  .master-padding-left {
    padding-left: 60px !important;
  }
  .navbar {
    .navbar-brand {
      & img {
        &.navbar-brand-sm {
          padding-left: 60px;
          width: 90px;
        }
        &.navbar-brand-lg {
          display: none;
        }
      }
    }
    .navbar-toggler {
      padding-right: 60px;
      font-size: 1rem;
    }
    .navbar-nav {
      padding-top: 30px;
      padding: 10px 0px;
      .nav-item {
        justify-content: start !important;
        font-size: 25px;
        padding-left: 42px;
        &.x-files {
          padding-top: 20px;
          a {
            border: none !important;
          }
        }
      }
      .navbar-footer {
        p {
          margin-top: 50px;
          margin-bottom: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  .footer{
    padding: 70px 50px 40px!important;
    & img {
      &.footer-sm {
        display: none;
      }
    }
    & .data-web {
      padding: 0px !important;
    }
  }
  .about-us-first {
    margin-left: 60px;
    padding-left: 80px;
    & .image {
      margin-left: 35px;
    }
    & .text-block {
      padding-left: 35px;
    }
  }
  .testimony {
    & .text-block {      
      max-width: 450px;
      margin-left: -40px;
      & p {
        padding-left: 25px;
      }  
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .master-padding {
    padding: 0px 40px !important;
  }
  .master-padding-right {
    padding-right: 40px !important;
  }
  .master-padding-left {
    padding-left: 40px !important;
  }
  .navbar {
    height: 65px;
    padding: 0px;
    .navbar-brand {
      & img {
        &.navbar-brand-sm {
          padding-left: 40px;
          width: 70px;
        }
        &.navbar-brand-lg {
          display: none;
        }
      }
    }
    .navbar-toggler {
      padding-right: 40px;
      font-size: 1rem;
    }
    .navbar-nav {
      padding-top: 30px;
      padding: 10px 0px;
      .nav-item {
        justify-content: start !important;
        font-size: 25px;
        padding-left: 42px;
        &.x-files {
          padding-top: 20px;
          a {
            border: none !important;
          }
        }
      }
      .navbar-footer {
        p {
          margin-top: 50px;
          margin-bottom: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  .footer {
    & img {
      &.footer-sm {
        display: none;
      }
    }    
    & .sitemap {
      padding-left: 15px !important;
    }
    & .data-web {
      padding: 0px !important;
    }
    & .be-gobeetween{
      margin-top: 50px;
      & .btn {
        width: 60%;
      }
      .outline-secondary {
        background-color: red !important;
      }
    }
    & .right-reserved {      
      & label {
        &.responsive-float {
          float: right;
        }
      }
    }
  }
  .about-us-first {
    margin-left: 40px;
    padding-left: 50px;
    .top-section {
      min-height: 170px !important;
    }
    & .image {
      margin-left: 20px;
    }
    & .text-block {
      padding-left: 20px;
    }
  }
  .testimony {
    padding-top: 70px;
    padding-bottom: 0px;
    & .text-block {      
      max-width: 450px;
      & p {
        padding-left: 25px;
      }  
    }
    & .carousel-indicators {
      margin-bottom: 0px;
    }      
    & .carousel-caption {
      left: 15% !important;
    }
  }
}

@media (max-width: 575px) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 17px;
  }
  .master-padding {
    padding: 0px 0px !important;
  }
  .master-padding-right {
    padding-right: 10px !important;
  }
  .master-padding-left {
    padding-left: 10px !important;
  }
  .navbar {
    height: 65px;
    padding: 10px 0px;
    background-color: $white;
    .navbar-nav {
      padding-top: 30px;
      .nav-item {
        justify-content: start !important;
        font-size: 25px;
        font-family: 'Silka' !important;
        padding-left: 42px !important;
        &.x-files {
          padding-top: 20px;
          a {
            border: none !important;
          }
        }
      }
      .navbar-footer {
        p {
          margin-top: 50px;
          margin-bottom: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
    .navbar-toggler {
      font-size: 1rem;
      padding-right: 1.5rem;
    }
  }
  .navbar-brand {
    & img {
      &.navbar-brand-sm {
        padding-left: 1.5em;
      }
      &.navbar-brand-lg {
        display: none;
      }
    }
  }
  .footer {
    font-size: 12px;
    margin-top: 50px;
    padding: 20px !important;
    .row {
      padding: 0px !important;
    }
    & .container {
      padding: 0px;
    }
    & .responsive {    
      &.col-md-4 {
        display: flex;  
        padding: 0px !important;
      }
    }
    & img {
      &.footer-lg {
        display: none;
      }
    }
    & .translated-in-argentina {
      margin-top: 0px;
      display: flex;
      & label {
        font-size: 12px;
        margin-left: 40px;
        width: 60px;
      }
      & img {
        margin-left: 10px;
        width: 90px;
      }
    }
    & .sitemap {
      display: none;
    }
    & .contact {
      display: none;
    }
    & .data-web {
      margin-top: 15px;
      text-align: right;
      padding-right: 0px; 
      & img {
        width: 25px;
        margin-top: 5px;
      }
    }
    & .be-gobeetween{
      margin-top: 30px;
      margin-left: 20px;
      padding-left: 0px !important;
      & img {
        height: 35px;
        margin-top: 12px;
      }
      & p {        
        padding-right: 40px;
      }
      & .btn {
        width: 50%;        
        padding: 10px 0px !important;
        font-size: 12px;
      }
    }
    & .right-reserved {      
      width: 100%;
      margin-left: 0px!important;
      margin-top: 30px !important;      
      display: inline-flex;
      & label {
        &.responsive-float {
          float: right;
        }
      }
    }
  }
  .about-us-first {
    padding-top: 140px;
    margin-left: 0px;
    padding-left: 20px;
    @media (max-width: 575px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    h3 {
      @media (max-width: 575px) {
        font-size: 20px !important;
        margin-left: -20px !important;
      }
    }
    .top-section {
      min-height: 170px !important;
      @media (max-width: 575px) {
        min-height: 80px !important;
      }
    }
    & .image {
      margin-left: -20px;
      width: 60px !important;
      height: 60px !important;
      @media (max-width: 575px) {
        .logo {
          width: 18px !important;
          height: 18px !important;
          img {
            width: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
    & .text-block {
      padding-left: 20px;
      @media (max-width: 575px) {
        margin-left: -20px !important;
      }
      p {
        @media (max-width: 575px) {
          font-size: 10px !important;
          line-height: 20px;
        }
      }
    }
  }
  .testimony{  
    padding-top: 60px;
    padding-bottom: 0px !important;  
    & .col-md-12 {
      padding-left: 25px;
      padding-bottom: 0px !important;
    }
    & .text-block {
      max-width: 300px;
      &::before {
        height: 25px;
      }
      & p{
        font-size: 11px;
        padding-left: 20px;
        padding-right: 35px;
        line-height: 20px;
        &.signature {
          font-size: 9px;
          line-height: 12px !important;
          margin-top: 20px !important;
          & span{
            display: block;
            line-height: 12px !important;
            margin-left: 0px !important;
          }
        }
      }
    }
    & .carousel-caption {
      left: 10% !important;
    }
    & .carousel-indicators {  
      justify-content: flex-end;
      margin-right: 0px;
      margin-left: 10px;
      padding-top: 10px !important;
    }
  }
  .overlay {
    .icon {
      width: 30px !important;
      height: 30px !important;
      font-size: 15px !important;
    }
    a {
      font-size: 10px !important;
    }
  }
  .x-files-mt {
    margin-top: 50px;
  }
}

.hide-md {
  @media (max-width: 992px) {
    display: none !important;
  }
}
.show-md {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}

// Forms

.btn-submit {
  background-color: #292C7E;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: top;
  border-radius: 0;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #222222;
  border-radius: 0;
  background: transparent;
}

.input-group-text {
  background: white;
  border: 0;
  border-bottom: 1px solid #222222;
  border-radius: 0;
  i {
    font-size: 10px;
  }
}