<template>
  <div class="about-us-first">
    <b-row class="w-100">
      <b-col md="6" class="pb-4 pb-md-0">
        <div class="top-section">
          <h3>
            {{ $t('pages.about-us.first-section.title-a') }}
          </h3>
        </div>
        <div class="text-block">
          <p>
            {{ $t('pages.about-us.first-p') }}
          </p>
          <p>
            {{ $t('pages.about-us.second-p') }}
          </p>
        </div>
      </b-col>
      <b-col md="6">
        <div class="top-section">
          <div class="image">
            <div class="logo">
              <img :src="require('assets/images/iso.svg')"/>
            </div>
          </div>
        </div>
        <div class="text-block">
          <p class="speech pr-5">
            {{ $t('pages.about-us.testimony') }}
          </p>
          <p class="signature">Melina Delpontigo <span class="d-block">| {{ $t('pages.about-us.first-section.signature-title') }}</span></p>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
