<template>
  <div class="container__service pt-5">
    <div class="title d-flex align-items-center mr-5">
      <i :class="`${icon} ${rotateIcon ? 'rotate-icon' : ''} mr-2`" /><label class="mb-0">{{ $t(name) }}</label>
    </div>
    <div class="ml-4 sub-title d-inline-block">
      {{ $t(description) }}
      <br v-if="subtitle" />
      {{ subtitle ? $t(subtitle) : '' }}
    </div>
    <div class="row mx-0 px-0 mt-4">
      <div
        v-for="service in services.filter(function (x) { return $t(x).length !== 0; })"        
        :key="service"
        class="col-12 col-sm-6 pl-md-4 col-md-3 py-1 service__detail px-0"
      >
        {{ $t(service) }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component
export default class extends Vue {
  @Prop({ default: '' }) name: string
  @Prop({ default: '' }) subtitle: string
  @Prop({ default: '' }) description: string
  @Prop({ default: '' }) icon: string
  @Prop({ default: false }) rotateIcon: boolean
  @Prop({ default: () => ([]) }) services: string[]
}
</script>

<style lang="scss" scoped>
  .container__service {
    margin-top: 40px;
    @media (max-width: 576px) {
      padding: 0 30px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      padding: 0 40px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 0 60px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 0 90px;
    }
    @media (min-width: 1200px) {
      margin-top: 96px;
      padding: 0 100px;
    }
    .title {
      font-family: 'Silka SemiBold' !important;
      font-size: 25px;
      line-height: 25px;
      @media (max-width: 576px) {
        font-size: 20px;
        line-height: 20px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
      }
      @media (min-width: 768px) and (max-width: 991px) {
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
      }
    }
    .sub-title {
      font-family: 'Silka Light' !important;
      font-size: 15px;
      line-height: 25px;
      vertical-align: top;
      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 10px;
        margin-top: 13px;
      }
    }
    i {
      color: $primary;
      font-size: 15px;
      vertical-align: top;
      padding-top: 4px;
      line-height: 20px;
      &.rotate-icon {
        transform: rotate(-90deg);
      }
    }
    .service__detail {
      font-family: 'Silka';
      font-size: 16px;
      line-height: 16px;
      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 10px;
      }
      &:before {
        content: "\a";
        margin-left: 10px;
        margin-right: 10px;
        width: 3px;
        height: 3px;
        vertical-align: middle;
        border-radius: 50%;
        background: #222222;
        display: inline-block;
      }
    }
  }
</style>