<template>
  <b-container class="card-detail">
    <div>
      <div class="title">
        <i v-if="showIcon" :class="`${icon} mr-md-3`" />
        <img v-if="!showIcon" width="20" :src="`/images/${icon}`">
        <label class="ml-3 mb-0">
          {{ $t(name) }} 
        </label>
      </div>
      <p class="description mt-4"> 
        {{ $t(description) }}
        <br v-if="secondDescription">
        {{ secondDescription ? $t(secondDescription) : '' }}
      </p>  
    </div>
  </b-container>      
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component
export default class extends Vue {
  @Prop({ default: '' }) icon: string
  @Prop({ default: '' }) name: string
  @Prop({ default: '' }) description: string
  @Prop({ default: '' }) secondDescription: string
  @Prop({ default: true }) showIcon: boolean
}
</script>

<style lang="scss" scoped>
.card-detail {
  background-color: #F4ECEB;
  min-height: 355px;
  @media (max-width: 576px) {
    padding: 18px;
    min-height: 0;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    padding: 26px;
    min-height: 0;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 32px;
    min-height: 0;
  }
  @media (min-width: 992px) {
    padding: 55px;
  }
  .title {
    font-family: "Silka SemiBold" !important;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 10px;
    }
    @media (min-width: 992px) {
      
    }
    i {
      color: $primary;
      font-size: 20px;
      line-height: 20px; 
      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 10px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        margin-right: 15px !important;
      }
    }
  }
  .description {
    font-family: "Silka Light" !important;
    font-size: 14px;
    line-height: 20px;    
    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 10px;
      margin-top: 17px !important;
      margin-left: 39px;
      margin-bottom: 0px;
    }
    @media (min-width: 992px) {
      height: 100%;
      font-size: 14px;
      margin-left: 40px;
    }
  }
}
</style>