<template>
  <div class="container__card">
    <img :src="avatar" class="avatar" border="0" :alt="`staff ${name}`" />
    <label class="staff__name mt-3">{{ name }}</label>
    <div class="staff__description">
      {{ $t(position) }}
      <div class="mt-2"></div>
      <i class="fas fa-arrow-right mr-2" /> <a :href="linkedin" target="_blank">LinkedIn</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component
export default class extends Vue {
  @Prop({ default: '' }) avatar: string
  @Prop({ default: '' }) name: string
  @Prop({ default: '' }) position: string
  @Prop({ default: '' }) linkedin: string
}
</script>

<style lang="scss" scoped>
  .container__card {
    min-height: 250px;
    @media (max-width: 575px) {
      min-height: 200px !important;
    }
  }
  .avatar {
    max-width: 100%;
  }
  .staff__name {
    font-family: 'Silka SemiBold' !important;
    font-size: 20px;
    line-height: 20px;
    @media (max-width: 575px) {
      font-size: 10px;
    }
  }
  .staff__description {
    font-family: 'Silka Light' !important;
    font-size: 14px;
    line-height: 15px;
    @media (max-width: 575px) {
      font-size: 9px;
    }
    a {
      color: black;
      &:hover,:focus,:visited {
        color: black;
      }
    }
  }
</style>