<template>  
  <div class="container-service services-mt">      
    <div class="title d-inline-block mr-5">
      {{ $t('pages.services.card-detail.title') }}
    </div>   
    <b-row class="mx-0 px-0 mt-5">
      <b-col
        v-for="service in catalogDetailServices"
        :key="service.id"
        :lg="4"
        :cols="12"
        class="p-1"
      >
      <card-detail-service
        :key="service.name"
        :name="service.name"
        :description="service.description"
        :second-description="service.secondDescription"
        :icon="service.icon"
        :show-icon="service.showIcon"
      />
      </b-col>
    </b-row>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { CatalogDetailServices } from '~/helpers/catalogs'

@Component
export default class extends Vue {
  catalogDetailServices = CatalogDetailServices
}
</script>

<style lang="scss" scoped>
.container-service {
  @media (max-width: 576px) {
    padding: 0 18px !important;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    padding: 0 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0 90px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}
.services-mt {
  margin-top: 110px;
  margin-bottom: 120px;
  @media (min-width: 176px) and (max-width: 767px)   {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 110px;
    margin-bottom: 40px;
  }
}
.title {
  font-family: 'Silka SemiBold' !important;
  font-size: 25px;
  line-height: 25px;
}
</style>