<template>
  <div :class="`main-content d-flex ${mainPosition}`">
    <div class="img-container w-100">
      <img :src="src" :class="`responsive-image ${imgClass}`" alt="Responsive image">
    </div>
    <div :class="`block ${backgroundColor} ${boxPosition} ${imgClass}`"> 
      <div :class="`block-content ${fontColor}`">
        <h2 :class="titleClass ? titleClass : 'title'">          
          {{ $t(title) }}
        </h2>
        <p :class="textClass ? textClass : ''">{{ $t(text) }}</p>
        <a :class="fontColor" :href="link"><i :class="icon"></i></a>        
        <img class="mt-1" :class="logoHome" src="~/assets/images/iso.svg" width="43" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
export default {
  props: {
    mainPosition: String,
    title: String,
    titleClass: String,
    icon: String,
    text: String,
    textClass: String,
    src: String,
    imgClass: String,
    backgroundColor: String,
    fontColor: String,
    boxPosition: String,
    logoHome: String,
    link: String,
  }
}
</script>

<style lang="scss" scoped>
.main-content {
  position: relative;
  .img-container {
    overflow-x: hidden;
    .responsive-image {
      width: 100%;
      @media (max-width: 575px) {
        width: 180%;
        &.home {
          width: 140%;
          margin-left: -23%;
        }
        &.services {
          margin-left: -60%;
        }
        &.about-us {
          margin-left: -20%;
          width: 130%;
        }
        &.contact-us {
          margin-left: -66%;
        }
        &.x-files {
          margin-left: -57%;
        }
      }   
    }
  }
}
.padding-right {
  padding-right: 100px;
  @media (max-width: 575px) {
    padding-right: 10px;
  }    
  @media (min-width: 576px) and (max-width: 767px) {
    padding-right: 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {    
    padding-right: 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {    
    padding-right: 90px;
  }
}
.padding-left{
  padding-left: 100px;
  @media (max-width: 575px) {
    padding-left: 10px;
  }    
  @media (min-width: 576px) and (max-width: 767px) {
    padding-left: 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {    
    padding-left: 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {    
    padding-left: 90px;
  }
}
.block {
  position: absolute;  
  @media (max-width: 575px) {
    width: 184px;
    bottom: -40px;
    &.about-us {
      width: auto;
      .block-content {
        padding: 20px 35px;
      }
    }
  }    
  @media (min-width: 576px) and (max-width: 767px) {
    width: 205px;
    bottom: -40px;
    &.home {
      margin-left: 40px;
    }
    &.about-us {
      width: auto;
    }    
  }
  @media (min-width: 768px) and (max-width: 991px) { 
    width: 225px;
    bottom: -60px;
    &.home {
      margin-left: 60px;
    }
    &.about-us {
      width: auto;
    }        
  }
  @media (min-width: 992px) and (max-width: 1199px) {    
    width: 255px;
    bottom: -60px;
    &.home {
      margin-left: 90px;
    }
    &.about-us {
      width: auto;
    }        
  }
  @media (min-width: 1200px) {
    width: 429px;
    bottom: -60px;
  }
}

.block-content {
  overflow: hidden;
  padding: 100px 60px;
  @media (max-width: 575px) {    
    padding: 32px;
  }  
  @media (min-width: 576px) and (max-width: 767px) {    
    padding: 42px;    
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 50px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {        
    padding: 50px;
  }
  @media (min-width: 1200px) {
  }
  .about-us-text {
    margin-top: 0 !important;
  }
  .title, .about-us-text {        
    font-family: 'Silka Bold';
    font-size: 2rem;
    @media (max-width: 575px) {
      font-size: 18px; 
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 20px;      
      line-height: 25px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 25px;         
      line-height: 25px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {    
      font-size: 25px;
      line-height: 25px;
    }
    @media (min-width: 1200px) {    
      font-size: 40px;
      line-height: 40px;
    }
  }
  & p {
    font-family: 'Silka Light';
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1rem;
    @media (max-width: 575px) {
      line-height: 12px;
      font-size: 9px;
      margin-top: 9px;
      margin-bottom: 10px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 12px;
      line-height: 14px;
      margin-top: 15px;
    }   
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 15px;
      line-height: 16px;
      margin-top: 20px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {    
      font-size: 16px;
      line-height: 18px;
    }
    @media (min-width: 1200px) {    
      font-size: 16px;
      line-height: 18px;
    }
  }
  & img {
    margin-top: 10px;
    &.display-none {
      display: none !important;
    }
    @media (max-width: 575px) {
      width: 15px;
      margin-top: 0px;  
    }
    @media (min-width: 576px) and (max-width: 767px) {
      width: 25px;
    }    
    @media (min-width: 768px) and (max-width: 991px) {
      width: 25px
    }
  }
}
.block-background-gray {
  background-color: #222222;
}

.block-background-white {
  background-color: white;
}

.block-background-home {
  background-color: #FEFCF3;
}

.block-background-light {
  background-color: #F4ECEB;
}

.font-color-white {
  color:white;
}

.font-color-blue {
  color: #292C7E;
}

.font-color-black {
  color: #222222;
}

.right {
  @media (max-width: 575px) {
    right: 10px;
  }    
  @media (min-width: 576px) and (max-width: 767px) {
    right: 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    right: 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {    
    right: 90px;
  }
  @media (min-width: 1200px) {
    right: 100px;
  }
}


.left {
  @media (max-width: 575px) {
    left: 16px;
  }    
  @media (min-width: 576px) and (max-width: 767px) {
    left: 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    left: 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {    
    left: 90px;
  }
  @media (min-width: 1200px) {
    left: 100px;
  }

  .about-us {
    min-width: 320px;
  }


}
</style>
