<template>
  <div class="container__form">
    <div class="row px-1 px-md-0">
      <div class="col-12 col-lg-7">
        <div class="title text-left pl-md-5 pr-md-5 mb-4">
          {{ $t('components.forms.contact.title') }}
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <form @submit.prevent="onSubmit" id="contact-form" name="contact-form">
          <div class="form-group">
            <input v-model="formModel.name" type="text" name="name" class="form-control" id="name" :placeholder="$t('components.forms.contact.name')">
          </div>
          <div class="form-group mt-2">
            <input v-model="formModel.email" type="email" name="email" class="form-control" id="email" :placeholder="$t('components.forms.contact.email')">
          </div>
          <div class="form-group mt-2">
            <textarea v-model="formModel.message" type="message" class="form-control" name="message" id="message" :placeholder="$t('components.forms.contact.message')" />
            <input v-model="formModel.contactType" type="hidden" name="contactType" id="contactType" />
          </div>
          <button
            type="submit"
            class="btn btn-submit uppercase float-right float-md-none text-white"
            :disabled="disabled"
          >
            <i class="far fa-paper-plane text-with mr-2" />
            {{ $t('components.forms.contact.submit') }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import emailjs from 'emailjs-com'

@Component
export default class extends Vue {
  disabled = false
  formModel = {
    name: '',
    email: '',
    message: '',
    contactType: 'Contact'
  }
  $bvToast: any

  onSubmit() {
    if (!this.formModel.name || !this.formModel.email) {
      const message = this.$i18n.t('components.forms.contact.error-form')
      this.$bvToast.toast(message, {
        title: `Error`,
        variant: 'danger',
        solid: true
      })
    } else {
      this.disabled = true
      emailjs.sendForm(this.$config.emailjsService, this.$config.emailjsContact, 'contact-form', this.$config.emailjsUserId)
        .then(() => {const message = this.$i18n.t('components.forms.contact.sended')
          this.$bvToast.toast(message, {
            title: 'gobetween',
            variant: 'success',
            solid: true
          })
          this.formModel = {
            ...this.formModel,
            name: '',
            email: '',
            message: '',
          }
          this.disabled = false
        }, (error) => {
          this.$bvToast.toast(error, {
            title: `Error`,
            variant: 'danger',
            solid: true
          })
          this.disabled = false
        });
    }
  }
}
</script>

<style lang="scss" scoped>
  .container__form {
    padding: 220px 0 180px 0;
    background-color: #FEFCF3;
    margin-top: 0px;
    @media (max-width: 576px) {
      margin-left: 0;
      padding: 100px 25px 100px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      margin-left: 0;
      padding: 200px 25px;
      margin-left: 40px !important;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin-left: 0;
      padding: 200px 25px;
      margin-left: 60px !important;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-left: 0;
      padding: 200px 25px;
      margin-left: 90px !important;
    }
    @media (min-width: 1200px) {
      margin-left: 100px !important;
      margin-right: 100px !important;
    }
    .title {
      font-family: "Silka Bold" !important;
      line-height: 40px;
      width: 100%;
      max-width: 100%;
      @media (max-width: 576px) {
        font-size: 20px;
        line-height: 30px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 25px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 30px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 35px;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
      }
    }
    textarea {
      min-height: 150px;
    }
    .form-control {
      padding-left: 0px !important;
    }
  }
</style>