<template>
  <div class="container__form pt-md-5">
    <div class="row px-2 px-lg-4">
      <div class="col-12 col-lg-5">
        <div class="title text-left text-md-right pr-5 mb-4">
          {{ $t('components.forms.subscribe.title') }}
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="description border-left pl-5">
          {{ $t('components.forms.subscribe.description') }}
        </div>
        <form @submit.prevent="onSubmit" id="subscription-form" name="subscription-form">
          <div class="form-group pl-0 pl-md-5 mt-5">
            <div class="container__input d-inline-block">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right" />
                  </div>
                </div>
                <input v-model="formModel.email" type="email" name="email" class="form-control" id="email" :placeholder="$t('components.forms.subscribe.email')">
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-submit uppercase float-right float-md-none mr-1 text-white d-inline-block"
              :disabled="disabled"
            >
              <i class="far fa-paper-plane text-with mr-2" />
              {{ $t('components.forms.subscribe.submit') }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import emailjs from 'emailjs-com'

@Component
export default class extends Vue {
  disabled = false
  formModel = {
    email: '',
    contactType: 'Subscription',
  }
  $bvToast: any

  onSubmit() {
    if (!this.formModel.email) {
      const message = this.$i18n.t('components.forms.subscribe.error-email')
      this.$bvToast.toast(message, {
        title: `Error`,
        variant: 'danger',
        solid: true
      })
    } else {
      this.disabled = true
      emailjs.sendForm(this.$config.emailjsService, this.$config.emailjsContact, 'subscription-form', this.$config.emailjsUserId)
        .then(() => {const message = this.$i18n.t('components.forms.subscribe.sended')
          this.$bvToast.toast(message, {
            title: 'gobetween',
            variant: 'success',
            solid: true
          })
          this.formModel = {
            email: '',
            contactType: '',
          }
          this.disabled = false
        }, (error) => {
          this.$bvToast.toast(error, {
            title: `Error`,
            variant: 'danger',
            solid: true
          })
          this.disabled = false
        });
    }
  }
}
</script>

<style lang="scss" scoped>
  .container__form {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    .title {
      font-family: "Silka SemiBold" !important;
      font-size: 2.3rem;
      @media (max-width: 575px) {
        font-size: 20px;
        line-height: 20px;
      }
    }
    .description {
      font-family: 'Silka';
      border-color: #222222 !important;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      max-width: 100%;
      @media (min-width: 900px) {
        width: 440px;
      }
      @media (max-width: 575px) {
        font-size: 10px;
      }
    }
    .container__input {
      width: calc(100% - 106px);
    }
    .form-control {
      @media (max-width: 575px) {
        font-size: 10px;
      }
    }
    .btn-submit {
      @media (max-width: 575px) {
        font-size: 8px;
      }
    }
    .input-group-text {
      padding-left: 0px;
    }
    .form-control {
      font-family: 'Silka';
    }
    button {
      margin-top: 5px;
    }
  }
</style>