<template>
  <div class="container__form">
    <div class="row px-1 px-md-0">
      <div class="col-12 pl-md-5 col-lg-7">
        <div class="title text-left mb-5">
          {{ $t('components.forms.be-go-betweener.title') }}
        </div>
        <div class="red-line d-inline-block mb-4" />
        <p class="d-inline-block mb-4">
          {{ $t('components.forms.be-go-betweener.description') }}
        </p>
        <a href="mailto:staffing@gobetweenlsp.com?subject=I want to be a gobetweener!" target="_self" class="btn btn-outline-secondary mt-3 ml-4 px-5 rounded-0" data-v-1efc60d8=""><i class="fas fa-paperclip mr-2" data-v-1efc60d8=""></i>{{ $t('layouts.default.footer.be-gobetween-button') }}</a>
      </div>
      <div class="col-12 col-lg-5">

      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import emailjs from 'emailjs-com'

@Component
export default class extends Vue {
  disabled = false
  formModel = {
    name: '',
    email: '',
    message: '-',
    contactType: 'Be go betweener'
  }
  $bvToast: any

  onSubmit() {
    if (!this.formModel.name || !this.formModel.email) {
      const message = this.$i18n.t('components.forms.be-go-betweener.error-form')
      this.$bvToast.toast(message, {
        title: `Error`,
        variant: 'danger',
        solid: true
      })
    } else {
      this.disabled = true
      emailjs.sendForm(this.$config.emailjsService, this.$config.emailjsCV, 'be-go-betweener-form', this.$config.emailjsUserId)
        .then(() => {const message = this.$i18n.t('components.forms.be-go-betweener.sended')
          this.$bvToast.toast(message, {
            title: 'gobetween',
            variant: 'success',
            solid: true
          })
          this.formModel = {
            ...this.formModel,
            name: '',
            email: '',
          }
          this.disabled = false
        }, (error) => {
          this.$bvToast.toast(error, {
            title: `Error`,
            variant: 'danger',
            solid: true
          })
          this.disabled = false
        });
    }
  }
}
</script>

<style lang="scss" scoped>
  .container__form {
    @media (max-width: 576px) {
    }
    @media (min-width: 576px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 991px) {
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) {
      margin-right: 100px;
      margin-left: 100px;
    }
    padding: 220px 0 180px 0;
    .title {
      font-family: "Silka Bold" !important;
      line-height: 40px;
      max-width: 100%;
      @media (max-width: 576px) {
        font-size: 20px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 25px;
        margin-left: 40px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 30px;
        margin-left: 60px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 35px;
        margin-left: 90px;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
      }
    }
    textarea {
      min-height: 150px;
    }
    p {
      font-family: 'Silka';
      width: calc(100% - 50px);
      vertical-align: top;
      padding-left: 20px;
      margin-top: -7.5px;
      @media (max-width: 576px) {
        font-size: 12px;
        width: 95% !important;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 14px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 16px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 18px;
      }
      @media (min-width: 1200px) {
        font-size: 20px;
      }
    }
    .red-line {
      width: 2px;
      height: 30px;
      background: $primary;
      vertical-align: top;
    }
    .btn {
      font-size: 13px;
    }
    @media (max-width: 992px) {
      margin-left: 0;
      width: 100%;
      padding: 40px 25px;
    }
    .form-control {
      padding-left: 0px !important;
    }
  }
</style>