<template>
<div>
  <div class="lang-switcher" @click.stop="expandOptions">
    <img
      src="~/assets/images/globe.svg"
      alt="lang switcher"
      width="20"
    />
  </div>
  <div :class="`lang-switcher-select ${hide ? 'hide' : ''}`">
    <nuxt-link :to="switchLocalePath('es')">ESPAÑOL</nuxt-link>
    <nuxt-link :to="switchLocalePath('en')" class="ml-5 mr-3">ENGLISH</nuxt-link>
  </div>
</div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class extends Vue {
  hide = true;

  expandOptions() {
    this.hide = !this.hide
  }
}
</script>

<style lang="scss">

.hide {
  right: -300px !important;
  transition: all 0.5s ease; 
}

.lang-switcher {
  z-index: 101;
  background-color: #292C7E;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.lang-switcher-select {
  z-index: 100;
  font-family: 'Silka';
  background-color: #292C7E;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 45px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  transition: all 0.5s ease;
  & a {
    font-size: 14px;
    color: white !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
</style>
