<template>
  <div>
    <card-service
      v-for="service in catalogServices"
      :key="service.name"
      :name="service.name"
      :subtitle="service.subtitle"
      :description="service.description"
      :icon="service.icon"
      :rotate-icon="service.rotateIcon"
      :services="service.services"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'
import { CatalogServices } from '~/helpers/catalogs'

@Component
export default class extends Vue {
  catalogServices = CatalogServices
}
</script>
