<template>
  <div class="container__manage__translations">
    <div class="row">
      <div class="col-md-12 col-lg-6 first-column">
        <div class="last-title title text-white">{{ $t('components.manage-translation.title') }}</div>
        <p class="text-white hide-md">{{ $t('components.manage-translation.first-description') }}</p>
        <p class="text-white hide-md">{{ $t('components.manage-translation.second-description') }}</p>
        <i class="fas fa-arrow-down text-white d-block hide-md" />
        <a href="/files/gobetween_institucional.pdf" download type="button" class="btn bg-white mt-5 px-5 py-3 rounded-0 hide-md text-uppercase">
          <i class="fas fa-search mr-2"></i>
          {{ $t('components.manage-translation.find-more-about-us') }}
        </a>
      </div>
      <div class="col-md-12 col-lg-6 last-column">
        <div class="row mx-0 px-0">
          <div class="col-6">
            <div class="item-title">{{ $t('components.manage-translation.expertise-title') }}</div>
            <div class="item-description pr-3 pr-md-0 mt-3">{{ $t('components.manage-translation.expertise-description') }}</div>
          </div>
          <div class="col-6">
            <div class="item-title">{{ $t('components.manage-translation.quality-title') }}</div>
            <div class="item-description pr-3 pr-md-0 mt-3">{{ $t('components.manage-translation.quality-description') }}</div>
          </div>
          <div class="col-6 mt-5">
            <div class="item-title">{{ $t('components.manage-translation.availability-title') }}</div>
            <div class="item-description pr-3 pr-md-0 mt-3">{{ $t('components.manage-translation.availability-description') }}</div>
          </div>
          <div class="col-6 mt-5">
            <div class="item-title">{{ $t('components.manage-translation.competitive-rates-title') }}</div>
            <div class="item-description pr-3 pr-md-0 mt-3">{{ $t('components.manage-translation.competitive-rates-description') }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5 show-md">
        <p class="text-white last-title">{{ $t('components.manage-translation.second-description') }}</p>
        <i class="fas fa-arrow-down text-white d-block" />
        <a href="/files/gobetween_institucional.pdf" download class="btn bg-white mt-5 px-3 py-2 rounded-0 text-uppercase">
          <i class="fas fa-search mr-2"></i>
          {{ $t('components.manage-translation.find-more-about-us') }}
        </a>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .container__manage__translations {
    padding: 180px 0;
    background: $primary;
    > .row {
      @media (max-width: 992px) {
        padding: 0;
      }
    }
    .col-md-12 {
      &.first-column {
        padding-left: 80px;
        @media (max-width: 992px) {
          padding-left: 0;
        }
      }
      &.last-column {
        padding-right: 80px;
        @media (max-width: 992px) {
          margin-top: 50px;
          padding: 0 !important;
        }
        .col-6 {
          @media (max-width: 992px) {
            padding: 0;
          }
        }
      }
      .title {
        font-size: 45px;
        line-height: 50px;
        width: 500px;
        max-width: 100%;
        @media (max-width: 992px) {
          font-size: 20px;
          line-height: 20px;
          width: 280px;
          max-width: 100%;
        }
      }
      p {
        font-family: 'Silka';
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        width: 450px;
        max-width: 100%;
        margin: 50px 0;
      }
    }
    .btn {
      font-family: 'Silka';
      font-size: 15px;
      &:hover {
        border: 1px solid black;
      }
      @media (max-width: 992px) {
        font-size: 13px;
      }
    }
    .item-title {
      font-family: 'Silka Semibold';
      display: flex;
      height: 50px;
      align-items: start;
      font-size: 20px;
      line-height: 22px;
      font-weight: 500;
      padding-left: 25px;
      border-left: 1px solid #fff;
      color: #fff;
      margin-bottom: 25px;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 10px;
        height: 35px;
      }
    }
    .item-description {
      font-family: 'Silka';
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      padding-left: 26px;
      color: #fff;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 10px;
      }
    }
    @media (max-width: 992px) {
      padding: 100px 25px 60px;
    }
    @media (max-width: 575px) {
      width: calc(100% - 17px);
      margin-left: 17px;
    }    
    @media (min-width: 576px) and (max-width: 767px) {
      width: calc(100% - 41px);
      margin-left: 41px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: calc(100% - 61px);
      margin-left: 61px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      width: calc(100% - 91px);
      margin-left: 91px;
    }
    @media (min-width: 1200px) {
      width: calc(100% - 106px);
      margin-left: 101px;
    }
    .last-title {
      font-family: 'Silka Bold';
    }
  }
</style>