<template>
  <div class="container__staff">
    <h2 class="mb-md-5 mb-4 px-2 page-title">{{ $t('pages.x-files.page-title') }}</h2>
    <div class="row">
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-file
          imagen="/images/xfile-1.jpg"
          name='x-file-1-title'
          linkfile="https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2"
        />
      </div>
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-file
          imagen="/images/xfile-1.jpg"
          name='x-file-1-title'
          linkfile="https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2"
        />
      </div>
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-file
          imagen="/images/xfile-1.jpg"
          name='x-file-1-title'
          linkfile="https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2"
        />
      </div>
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-file
          imagen="/images/xfile-1.jpg"
          name='x-file-1-title'
          linkfile="https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component({
  layout: 'default',
})
export default class extends Vue {
  isXFiles: boolean = this.$route.fullPath.includes('x-files')

  get files() {
    if (!this.$route.fullPath.includes('x-files')) {
      return this.items.slice(0,4)
    }
    return this.items
  }

  items = [
    {
      id: 1,
      title: 'x-file-1-title',
      imgUrl: '/images/xfile-1.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2',
    },
    {
      id: 2,
      title: 'x-file-2-title',
      imgUrl: '/images/xfile-2.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/18XHd6JE4LZ4ud_a3cVBDf6LhX4iW-ZBo',
    },
    {
      id: 3,
      title: 'x-file-3-title',
      imgUrl: '/images/xfile-3.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1pSE92zR1hAUSEsV5bMVsqErJ_xxf0Hce',
    },
    {
      id: 4,
      title: 'x-file-4-title',
      imgUrl: '/images/xfile-4.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1hQEwReghNci3xFbsroUNGt2p23GlbSJh',
    },
    {
      id: 5,
      title: 'x-file-5-title',
      imgUrl: '/images/xfile-5.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1F1fVxu9Y9Ld1uRu5aWqbPSZTeVsDo3qO',
    },
  ]
}
</script>

<style lang="scss" scoped>
@import '../assets/sass/colors.scss';
.container-xfiles {
  @media (max-width: 576px) {
    padding: 0 18px !important;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    padding: 0 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0 60px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0 90px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}
.xfiles-mt {
  margin-top: 80px;
  margin-bottom: 120px;
  @media (min-width: 176px) and (max-width: 767px)   {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}


.page-title {
  @media (max-width: 575px) {
    font-size: 20px;
  }    
  @media (min-width: 576px) and (max-width: 767px) {
  
  }
  @media (min-width: 768px) and (max-width: 991px) { 

  }
  @media (min-width: 992px) and (max-width: 1199px) {    

  }
  @media (min-width: 1200px) {
    margin-left: 3px;
  }
}
.see-more {
  color: $black;
  margin-right: 4px;
  span {
    font-family: 'Silka Medium';
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 2px;
  }
}
.x-file-card {
  margin: 0,6rem 0px;
  margin-bottom: 0;
  min-height: 70px;
  @media (min-width: 992px) {    
    margin: 2rem 0rem !important;
  }
  & .image {
    width: 100%;
  }
  & .title {
    font-family: 'Silka SemiBold' !important;
    @media (max-width: 575px) {
      font-size: 10px;
      line-height: 10px;
    }    
    @media (min-width: 576px) and (max-width: 767px) {
    
    }
    @media (min-width: 768px) and (max-width: 991px) { 

    }
    @media (min-width: 992px) and (max-width: 1199px) {    

    }
    @media (min-width: 1200px) {

    }
  }
  & .date {
    font-family: 'Silka' !important;
    @media (max-width: 575px) {
      font-size: 8px;
      line-height: 8px;
    }    
    @media (min-width: 576px) and (max-width: 767px) {
    
    }
    @media (min-width: 768px) and (max-width: 991px) { 

    }
    @media (min-width: 992px) and (max-width: 1199px) {    

    }
    @media (min-width: 1200px) {
      font-size: 15px;
    }
  }

  .overlay-container {
    position: relative;
    &:hover .overlay {
      opacity: 1;
    }
    .overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #222222DD;
      & .icon {
        background-color: white;
        font-size: 18px;
        color: #222222;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        border-radius: 50%;
      }
      & a {
        font-family: 'Silka';
        font-size: 15px;
        margin-top: -15px;
        color: white;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .image {
      display: block;
      height: auto;
    }
  }
}
@media (max-width: 575px) {
  .overlay-container {
    a {
      font-size: 10px;
    }
  }
}
</style>
