<template>
  <div class="container__staff">
    <h2 class="mb-md-5 mb-4 px-2 page-title">{{ $t('pages.about-us.next-generation-of-leaders') }}</h2>
    <div class="row">
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-staff
          avatar="/images/staff/melina-delpontigo.jpg"
          name="Melina Delpontigo"
          position="pages.about-us.melina-position"
          linkedin="https://www.linkedin.com/in/melina-delpontigo-20b39521/"
        />
      </div>
      <div class="col-6 col-sm-3 px-1 px-sm-3">
        <card-staff
          avatar="/images/staff/andrea-alvarez.jpg"
          name="Andrea Alvarez"
          position="pages.about-us.andrea-position"
          linkedin="https://www.linkedin.com/in/andrea-alvarez-69a866112/"
        />
      </div>
      <div class="col-6 col-sm-3 mt-4 mt-sm-0 px-1 px-sm-3">
        <card-staff
          avatar="/images/staff/fiorella-dottori.jpg"
          name="Fiorela Dottori"
          position="pages.about-us.fiorella-position"
          linkedin="https://www.linkedin.com/in/fiorela-dottori-34b701193/"
        />
      </div>
      <div class="col-6 col-sm-3 mt-4 mt-sm-0 px-1 px-sm-3">
        <card-staff
          avatar="/images/staff/lucia-torres.jpg"
          name="Lucía Torres"
          position="pages.about-us.lucia-position"
          linkedin="https://www.linkedin.com/in/luc%C3%ADa-torres-39498799/"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .container__staff {
    max-width: 100%;
    margin: 40px auto;
    @media (max-width: 575px) {
      margin: 40px auto;
      .page-title {
        font-size: 20px;
        margin-bottom: 2em !important;
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      margin: 50px 30px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin: 50px 45px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {  
      margin: 50px 80px;  
    }
    @media (min-width: 1200px) {
      margin: 50px 100px; 
    }
  }

.row {
    margin-right: 0;
    margin-left: 0;
    padding: 0 !important;
}  
</style>