<template>
  <div class="testimony mt-5 mt-md-0">
    <h2 class="mb-md-5 mb-4 px-2 page-title">{{ $t('components.testimony.title') }}</h2>
    <b-row class="w-100">
      <b-col md="12" class="pb-5 pb-md-0">
        <b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="10000"
          controls
          indicators
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
          <b-carousel-slide
            v-for="(testimony, index) of testimonyList"
            :key="index"
          >
            <div class="text-block">
              <p class="text">
                {{ $t(testimony.text) }}
              </p>
              <p class="signature mt-5">{{ testimony.signature}}</p>
            </div>
          </b-carousel-slide>
        </b-carousel>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null,
        testimonyList: [
          {
            text: 'pages.home.testimony-1',
            signature: 'Alejandra Pizarro - Translation Line Manager'
          },
          {
            text: 'pages.home.testimony-2',
            signature: 'Alejandra Andreu - Directora de producción'
          },
          {
            text: 'pages.home.testimony-3',
            signature: 'Anabela Hotian - Localization Project Manager'
          },
          {
            text: 'pages.home.testimony-4',
            signature: 'Virginia Reggiardo - Traductora'
          },
          {
            text: 'pages.home.testimony-5',
            signature: 'Roberta Wersio - Traductora'
          },
          {
            text: 'pages.home.testimony-6',
            signature: 'Yamila Razzetto - Translator'
          },
        ]
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>

  