<template>
  <div class="container-xfiles  xfiles-mt">
    <div class="row d-flex justify-content-between align-items-center">
      <h2 :class="titleClass ? titleClass : 'mb-md-5 mb-4 px-2 page-title'" >{{ $t('pages.x-files.page-title') }}</h2>
      <nuxt-link
        v-if="!isXFiles"
        class="see-more mb-2 mt-5 "
        :to="`/${$i18n.locale}/x-files`"
      >
        <i class="far fa-eye mr-2" /><span class="d-none d-sm-inline-block">{{ $t('components.x-files.see-all') }}</span>
      </nuxt-link>
    </div>
    <b-row>
      <b-col
        v-for="file of files"
        class="x-file-card"
        :key="file.id"
        :lg="3"
        :cols="6"
      >
        <div class="overlay-container">
          <img class="image" :src="file.imgUrl">
          <div class="overlay">
            <div class="text-center d-flex flex-column align-items-center">
              <i class="icon" :class="file.downloadIcon" /><br>
              <a :href="file.downloadUrl" target="_blank" rel="noopener noreferrer">{{ $t(file.downloadText) }}</a>
            </div>
          </div>
        </div>
        <p class="title mt-4 mb-2">
          {{ $t(file.title) }}
        </p>
        <p class="date">
          {{ file.date }}
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component({
  layout: 'default',
})
export default class extends Vue {
  @Prop({ default: 'titleClass' }) titleClass: string

  isXFiles: boolean = this.$route.fullPath.includes('x-files')

  get files() {
    if (!this.$route.fullPath.includes('x-files')) {
      return this.items.slice(0,4)
    }
    return this.items
  }

  items = [
    {
      id: 1,
      title: 'x-file-1-title',
      imgUrl: '/images/xfile-1.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1fRnRtyYVRz5dlek8zMb1USMllXn5cnf2',
    },
    {
      id: 2,
      title: 'x-file-2-title',
      imgUrl: '/images/xfile-2.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/18XHd6JE4LZ4ud_a3cVBDf6LhX4iW-ZBo',
    },
    {
      id: 3,
      title: 'x-file-3-title',
      imgUrl: '/images/xfile-3.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1pSE92zR1hAUSEsV5bMVsqErJ_xxf0Hce',
    },
    {
      id: 4,
      title: 'x-file-4-title',
      imgUrl: '/images/xfile-4.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1hQEwReghNci3xFbsroUNGt2p23GlbSJh',
    },
    {
      id: 5,
      title: 'x-file-5-title',
      imgUrl: '/images/xfile-5.jpg',
      date: '08/01/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/drive/u/0/folders/1F1fVxu9Y9Ld1uRu5aWqbPSZTeVsDo3qO',
    },
    {
      id: 6,
      title: 'x-file-6-title',
      imgUrl: '/images/video1.png',
      date: '15/09/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/file/d/1nzZuUQPP3xrGXNRoTW3InlFisAvecamF',
    },
    {
      id: 7,
      title: 'x-file-7-title',
      imgUrl: '/images/video2.png',
      date: '15/09/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/file/d/1vNtu_dRD5RcSPv7cmWxt3qK_hc57PBfs',
    },
    {
      id: 8,
      title: 'x-file-8-title',
      imgUrl: '/images/video3.png',
      date: '15/09/2021',
      downloadIcon: 'fab fa-google-drive',
      downloadText: 'pages.x-files.download-from-gdrive',
      downloadUrl: 'https://drive.google.com/file/d/1VhnkE1SvcxuDtJa9DJPbsxySoQX70VPd',
    },
  ]
}
</script>

<style lang="scss" scoped>
@import '../assets/sass/colors.scss';
.container-xfiles {
    padding: 0 0px!important;
    max-width: 100%;
    margin: 50px auto;
    margin-bottom: 0;
    @media (max-width: 575px) {
      margin: 80px auto;
      margin-bottom: 0;
      .page-title {
        font-size: 20px;

        margin-bottom: 2em !important;
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      margin: 70px 30px;
      margin-bottom: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin: 100px 45px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin: 100px 80px;
    }
    @media (min-width: 1200px) {
      margin: 100px 100px;
    }
  }

.see-more {
  color: $black;
  margin-right: 4px;
  span {
    font-family: 'Silka Medium';
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 2px;
  }
}

.x-file-card {
  margin: 0,6rem 0px;
  margin-bottom: 0;
  min-height: 70px;
}

.x-file-card .image{
  width: 100%;
}

.titleClass {
    font-size: 30px !important;
  }

.x-file-card .date{
    font-family: 'Silka' !important;
    @media (max-width: 575px) {
      font-size: 8px;
      line-height: 8px;
    }
    @media (min-width: 576px) and (max-width: 767px) {

    }
    @media (min-width: 768px) and (max-width: 991px) {

    }
    @media (min-width: 992px) and (max-width: 1199px) {

    }
    @media (min-width: 1200px) {
      font-size: 15px;
    }
}

.x-file-card .title{
    font-family: 'Silka SemiBold' !important;
    @media (max-width: 575px) {
      font-size: 10px;
      line-height: 10px;
    }
    @media (min-width: 576px) and (max-width: 767px) {

    }
    @media (min-width: 768px) and (max-width: 991px) {

    }
    @media (min-width: 992px) and (max-width: 1199px) {

    }
    @media (min-width: 1200px) {

    }
}

.overlay-container {
    position: relative;
    &:hover .overlay {
      opacity: 1;
    }
    .overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #222222DD;
      & .icon {
        background-color: white;
        font-size: 18px;
        color: #222222;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        border-radius: 50%;
      }
      & a {
        font-family: 'Silka';
        font-size: 15px;
        margin-top: -15px;
        color: white;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .image {
      display: block;
      height: auto;
    }
  }

.row {
    margin-right: 0;
    margin-left: 0;
    padding: 0 !important;
}
</style>
