<template>
  <div>
    <b-navbar toggleable="lg" sticky>
      <b-container fluid>
        <b-navbar-brand :to="`/${$i18n.locale}`">
          <img class="navbar-brand-lg" src="~/assets/images/go-between-logo.svg" width="130" />
          <img class="navbar-brand-sm" src="~/assets/images/iso.svg" width="55" />
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item class="mr-3" :to="`/${$i18n.locale}/services`">{{ $t('layouts.default.navbar.services') }}</b-nav-item>
            <b-nav-item class="mx-3" :to="`/${$i18n.locale}/about-us`">{{ $t('layouts.default.navbar.about-us') }}</b-nav-item>
            <b-nav-item class="mx-3" :to="`/${$i18n.locale}/contact-us`">{{ $t('layouts.default.navbar.contact-us') }}</b-nav-item>
            <b-nav-item class="x-files ml-3" :to="`/${$i18n.locale}/x-files`">
              <i class="far fa-folder mr-2" /> {{ $t('layouts.default.navbar.x-files') }}
            </b-nav-item>
            <b-nav-text>
              <div class="d-flex justify-content-around d-lg-none navbar-footer">
                <div>
                  <p>{{ $t('layouts.default.navbar.footer.follow-us') }}</p>
                  <a class="mx-2" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/gobetweenlsp/"><i class="fab fa-instagram"></i></a>
                  <a class="mx-2" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/gobetween-lsp-s-a-s-642885171/"><i class="fab fa-linkedin"></i></a>
                  <a class="mx-2" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/gobetweenlsp"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div>
                  <p>{{ $t('layouts.default.navbar.footer.contact-us') }}</p>
                  <!-- <a class="mx-2" target="_blank" rel="noopener noreferrer" href="https://www.slack.com"><i class="fab fa-slack"></i></a> -->
                  <!-- <a class="mx-2" target="_blank" rel="noopener noreferrer" href="https://www.messenger.com"><i class="fab fa-facebook-messenger"></i></a> -->
                  <a class="mx-2" target="_blank" rel="noopener noreferrer" href="mailto:info@gobetweenlsp.com?subject=I want to be a gobetweener"><i class="far fa-envelope"></i></a>
                </div>
              </div>
            </b-nav-text>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <nuxt />
    <div class="footer">
      <footer>
        <b-row>
          <b-col class="responsive">
            <b-row>
              <b-col class="responsive d-flex flex-sm-column">
                <img
                  class="footer-lg"
                  src="~/assets/images/logo-footer.svg"
                  width="130"
                />                  
                <img
                  class="footer-sm"
                  src="~/assets/images/iso-black.svg"
                  width="35"
                />  
                <div class="translated-in-argentina d-flex d-md-block align-items-center">
                  <label class="mb-0">
                    {{ $t("layouts.default.footer.we-are-part-of") }}
                  </label>
                  <img
                    class="footer-lg d-block"
                    src="~/assets/images/translated-in-argentina.svg"
                    width="100"
                  />
                </div>
                <b-col class="data-web d-none d-sm-block mt-sm-4">
                  <img
                    class="mr-2"
                    src="~/assets/images/data-web-footer.jpg"
                    width="30"
                  />
                </b-col>
              </b-col>
              <b-col class="sitemap col-md-4 pl-5"> 
                <nuxt-link class="d-block" :to="`/${$i18n.locale}/services`">{{ $t('layouts.default.footer.sitemap') }}</nuxt-link>
                <nuxt-link class="d-block mt-4" :to="`/${$i18n.locale}/services`">{{ $t('layouts.default.footer.service') }}</nuxt-link>
                <nuxt-link class="d-block" :to="`/${$i18n.locale}/about-us`">{{ $t('layouts.default.footer.about-us') }}</nuxt-link>
                <nuxt-link class="d-block" :to="`/${$i18n.locale}/contact-us`">{{ $t('layouts.default.footer.contact') }}</nuxt-link>
                <nuxt-link class="d-block" :to="`/${$i18n.locale}/x-files`">{{ $t('layouts.default.footer.x-files') }}</nuxt-link>
              </b-col>
              <b-col class="contact col-md-4"> 
                <div>
                  <label>{{ $t('layouts.default.footer.follow-us') }}</label>
                  <div>
                    <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/gobetweenlsp/"><i class="fab fa-instagram"></i></a>
                    <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/gobetween-lsp-s-a-s-642885171/"><i class="fab fa-linkedin"></i></a>
                    <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/gobetweenlsp"><i class="fab fa-facebook-square"></i></a>
                  </div>
                </div>
                <div class="contact-us">
                  <label>{{ $t('layouts.default.footer.contact-us') }}</label>
                  <div>
                    <!-- <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://www.slack.com"><i class="fab fa-slack"></i></a> -->
                    <!-- <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://www.messenger.com"><i class="fab fa-facebook-messenger"></i></a> -->
                    <a class="mr-2" target="_blank" rel="noopener noreferrer" href="mailto:info@gobetweenlsp.com"><i class="far fa-envelope"></i></a>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-col>
          <b-col class="be-gobeetween col-md-5 col-sm-12 col-xs-12">
            <label class=" ml-4">{{ $t('layouts.default.footer.be-gobetween') }}</label>
            <p class="f-weight-100 ml-4 mt-2">{{ $t('layouts.default.footer.be-gobetween-text') }}</p>
            <b-button squared variant="outline-secondary mt-3 ml-4 px-5" href="mailto:staffing@gobetweenlsp.com?subject=I want to be a gobetweener!"><i class="fas fa-paperclip mr-2"></i>{{ $t('layouts.default.footer.be-gobetween-button') }}</b-button>
            <div class="right-reserved ml-4 mt-5">
              <label class="mr-5">{{ $t('layouts.default.footer.be-gobetween-rosario') }}</label>
              <label class="float-right">{{ $t('layouts.default.footer.be-gobetween-rigth-reserved', { year: new Date().getFullYear() }) }}</label>
            </div>
          </b-col>
        </b-row>
      </footer>
    </div>
    <lang-switch />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import LangSwitch from '~/components/lang-switch.vue'

@Component({
  components: {
    LangSwitch
  }
})
export default class extends Vue {
}
</script>

<style lang="scss" scoped>
*,
*::before,
*::after {
  box-sizing: border-box;
}
.f-weight-100 {
  font-weight: 100;
}
.font-size {
  font-size: 16px;
}
</style>
