<template>
  <div class="main">
    {{ $t('layouts.error.error-default') }}
    <h1>{{ error.statusCode }}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class Error extends Vue {
  @Prop({
    required: true,
    default: {
      statusCode: 404,
    }
  })
  error: any
}
</script>

<style lang="scss" scoped>
  .main {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
