<template>
  <div>
    <featured-content
      src="/images/about-us.jpg"
      img-class="about-us"
      mainPosition="master-padding-right"
      title="pages.about-us.block.title"
      text="pages.about-us.block.text"       
      textClass="about-us-text"
      icon="fas fa-arrow-down"
      boxPosition="left"
      backgroundColor="block-background-home"
      fontColor="font-color-black"
      logoHome="display-none"
    />
    <about-us-first-section />
    <our-staff />
    <form-subscription />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import AboutUsFirstSection from '~/components/about-us-first-section.vue'

@Component({
  layout: 'default',
  components: {
    AboutUsFirstSection,
  }
})
export default class extends Vue {
  head({ $i18n }: any) {
    return {
      title: $i18n.t('pages.about-us.title'),
    }
  }
}
</script>
