<template>
  <div>
    <featured-content
      src="/images/contact-us.jpg"
      main-position="master-padding-right"
      img-class="contact-us"
      title="pages.contact-us.block.title" 
      icon="fas fa-arrow-down"
      background-color="block-background-light"
      box-position="left"
      font-color="font-color-blue"
      logo-home="display-none"
    />
    <form-contact />
    <form-be-go-betweener class="mt-5" /> 
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import emailjs, { init } from 'emailjs-com';

@Component({
  layout: 'default',
})
export default class extends Vue {
  head({ $i18n }: any) {
    return {
      title: $i18n.t('pages.contact-us.title'),
    }
  }
}
</script>
