<template>
  <div class="pr-0">
    <featured-content
      src="/images/home.jpg"
      img-class="home"
      title="pages.index.block.title"
      box-position="left"
      backgroundColor="block-background-home home"
      fontColor="font-color-black"
    />
    <manage-translation />
    <x-files titleClass="mb-md-5 mb-4 px-2 page-title titleClass" :short-version="true" />
    <testimony />
    <div class="py-5" />
    <form-subscription class="mt-5" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  layout: 'default',
})
export default class extends Vue {
  head({ $i18n }: any) {
    return {
      title: $i18n.t('pages.index.title'),
    }
  }
}
</script>
<style lang="scss" scoped>

</style>