<template>
  <div>
    <featured-content
      src="/images/services.jpg"
      img-class="services"
      mainPosition="master-padding-left"
      title="pages.services.block.title" 
      text="pages.services.block.text"
      icon="fas fa-arrow-down"
      backgroundColor="block-background-gray"
      fontColor="font-color-white"
      logoHome="display-none"
    />
    <detail-services />
    <list-services />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  layout: 'default',
})
export default class extends Vue {
  head({ $i18n }: any) {
    return {
      title: $i18n.t('pages.services.title'),
    }
  }
}
</script>
