<template>
  <div>
    <div>
      <featured-content
        src="/images/x-files.jpg"
        img-class="x-files"
        main-position="master-padding-left"
        box-position="featured-x-files-box-position"
        title="pages.x-files.featured-content.block-title" 
        text="pages.x-files.featured-content.block-text"
        icon="fas fa-arrow-down"
        background-color="block-background-gray"
        font-color="font-color-white"
        logo-home="display-none"
      />
    </div>
    <x-files titleClass="mb-md-5 mb-4 px-2 page-title" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component({
  layout: 'default',
})
export default class extends Vue {
  head({ $i18n }: any) {
    return {
      title: $i18n.t('pages.x-files.title'),
    }
  }
}
</script>
